.map {
    height: 100%;
    width: 100%;
    position: relative;

    .mat-button-toggle-group {
        z-index: 999;
        right: 10px;
        top: 10px;
        position: absolute;
        border: 2px solid rgba(0,0,0,0.2);
    }

    .saving-path {
        z-index: 1003;
        position: absolute;
        font-weight: bold;
        left: 50%;
        top: 10px;
        transform: translateX(-50%);
        background: white;
        padding: 0 4px;
        border-radius: 4px;
    }
}