<div class="content" *ngIf="(dssData | async) as dss">
    <div>
        <h1>Saving Path</h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dss.tables.SavingPath.data" class="mat-elevation-z2 app-table">
            <ng-container [matColumnDef]="cl" *ngFor="let cl of dss.tables.SavingPath.columns">
                <th mat-header-cell *matHeaderCellDef> {{cl}} </th>
                <td mat-cell *matCellDef="let element"> {{element[cl]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dss.tables.SavingPath.columns"></tr>
            <tr mat-row *matRowDef="let row; columns: dss.tables.SavingPath.columns;"></tr>
        </table>
    </div>
    <div>
        <h1>Symmetric distance matrix</h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dss.tables.Distance.data" class="mat-elevation-z2 app-table">
            <ng-container [matColumnDef]="cl" *ngFor="let cl of dss.tables.Distance.columns">
                <th mat-header-cell *matHeaderCellDef> {{cl}} </th>
                <td mat-cell *matCellDef="let element"> {{element[cl]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dss.tables.Distance.columns"></tr>
            <tr mat-row *matRowDef="let row; columns: dss.tables.Distance.columns;"></tr>
        </table>
    </div>
    <div>
        <h1>Saving Distance</h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dss.tables.SavingTable.data" class="mat-elevation-z2 app-table">
            <ng-container [matColumnDef]="cl" *ngFor="let cl of dss.tables.SavingTable.columns">
                <th mat-header-cell *matHeaderCellDef> {{cl}} </th>
                <td mat-cell *matCellDef="let element"> {{element[cl]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dss.tables.SavingTable.columns"></tr>
            <tr mat-row *matRowDef="let row; columns: dss.tables.SavingTable.columns;"></tr>
        </table>
    </div>
</div>