/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;  overflow: hidden; }

.text-below-marker {
    .lable {
        text-align: center;
        font-size: 10px;
        margin-top: -42px;
        color: dimgray;
    }
}

.title {
    margin: 12px 0 !important;
    border-bottom: 1px solid #b7b7b7;
    width: fit-content;
    font-weight: 600;
    font-size: 14px;
}