<div class="content" *ngIf="(dssData | async) as dss">
    <div *ngIf="dss?.init">
        <h1>F, η<sub>k</sub></h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dss.tables.NQ_F.data" class="mat-elevation-z2 app-table">
            <ng-container [matColumnDef]="cl" *ngFor="let cl of dss.tables.NQ_F.columns">
                <th mat-header-cell *matHeaderCellDef> {{cl}} </th>
                <td mat-cell *matCellDef="let element"> {{element[cl]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dss.tables.NQ_F.columns"></tr>
            <tr mat-row *matRowDef="let row; columns: dss.tables.NQ_F.columns;"></tr>
        </table>
    </div>
    <div *ngIf="dss?.init">
        <h1>Other</h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dss.tables.Other.data" class="mat-elevation-z2 app-table">
            <ng-container [matColumnDef]="cl" *ngFor="let cl of dss.tables.Other.columns">
                <th mat-header-cell *matHeaderCellDef> {{cl}} </th>
                <td mat-cell *matCellDef="let element"> {{element[cl]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dss.tables.Other.columns"></tr>
            <tr mat-row *matRowDef="let row; columns: dss.tables.Other.columns;"></tr>
        </table>
    </div>
    <div *ngIf="dss?.init">
        <h1>Probability</h1>
        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dss.tables.Q.data" class="mat-elevation-z2 app-table">
            <ng-container [matColumnDef]="cl" *ngFor="let cl of dss.tables.Q.columns">
                <th mat-header-cell *matHeaderCellDef> {{cl}} </th>
                <td mat-cell *matCellDef="let element"> {{element[cl]}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="dss.tables.Q.columns"></tr>
            <tr mat-row *matRowDef="let row; columns: dss.tables.Q.columns;"></tr>
        </table>
    </div>
</div>